 .card {
     /* Add shadows to create the "card" effect */
 }

 /* On mouse-over, add a deeper shadow */
 .card:hover {}

 /* Add some padding inside the card container */
 .container {
     text-align: center;
     padding: 2px 16px;
     position: relative;
 }

 .rarity {
     font-weight: bold;
 }

 .energycost {
     width: 40px;
 }

 .energytext {
     font-weight: bold;
     font-size: 24px;
     padding: 10px;
     -webkit-text-fill-color: darkcyan;
 }

 .energycontainer {
     display: flex;
     align-items: center;
     grid-template-columns: 1fr 1fr;
 }